@import url("https://fonts.googleapis.com/css?family=Amarante");
.font {
  font-family: "Amarante", Tahoma, sans-serif;
  font-size: 1em;
}
h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.center,
table {
  text-align: center;
}
.hidden {
  display: none;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}
